#ui-content {
  width: 100%;
  height: 100%;
  background-color: aliceblue
}

.nav-bar {
  background-color: #d98c8c;
  overflow: hidden;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #aef9d7;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    font-size: 16px;
  }

  a.active {
    color: red;
  }

  a:hover {
    color: black;
  }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-form {
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: #396e7e;
  border: 3px solid #f1f1f1;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


